<h1 style="text-align: center;"> Emissions by Country, 2002-2022 </h1>


## Table of Contents

* [Introduction](#Introduction)

    * [Columns](#Columns)
    
* [Preparation](#Preparation)

    * [Importing packages](#packages)
    * [Importing dataset](#dataset)
    * [Exploring dataset](#Exploring)
    
    
* [Chapter 3](#chapter3)

    * [Section 3.1](#section_3_1)
        * [Sub Section 3.1.1](#sub_section_3_1_1)
        * [Sub Section 3.1.2](#sub_section_3_1_2)
    * [Section 3.2](#section_3_2)
        * [Sub Section 3.2.1](#sub_section_3_2_1)
        * [Sub Section 3.2.2](#sub_section_3_2_2)

## Introduction <a class="anchor" id="Introduction"></a>

This dataset provides information on total CO2 emissions for each country for the years 2002-2022  as well as from coal, oil, gas, cement production and flaring, and other sources.

<a href="https://www.kaggle.com/datasets/thedevastator/global-fossil-co2-emissions-by-country-2002-2022" > Kaggle</a>

### Columns <a class="anchor" id="Columns"></a>
The information is divided into the following columns:

`Country` - The name of the country. 

`ISO 3166-1 alpha-3` - The three-letter code for the country.

`Year` - The year of the data.

`Total` - The total amount of CO2 emissions for the country in the given year. 

`Coal` - The amount of CO2 emissions from coal for the country in the given year.

`Oil` - The amount of CO2 emissions from oil for the country in the given year.

`Gas` - The amount of CO2 emissions from gas for the country in the given year.

`Cement` - The amount of CO2 emissions from cement production for the country in the given year. 

`Flaring` - The amount of CO2 emissions from flaring operations for the country in the given year. 

`Other` - The amount of CO2 emissions from other sources for the country in the given year.

`Per Capita` - The amount of CO2 emissions per capita for the country in the given year.


## Preparation <a class="anchor" id="Preparation"></a>


### Importing packages <a class="anchor" id="packages"></a>

Package required for this analysis

In [1]:
#https://pypi.org/project/pycountry-convert/
!pip install pycountry_convert

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pycountry_convert in c:\users\mcsebedebe\appdata\roaming\python\python39\site-packages (0.7.2)
Requirement already satisfied: repoze.lru>=0.7 in c:\users\mcsebedebe\appdata\roaming\python\python39\site-packages (from pycountry_convert) (0.7)
Requirement already satisfied: pycountry>=16.11.27.1 in c:\users\mcsebedebe\appdata\roaming\python\python39\site-packages (from pycountry_convert) (22.3.5)
Requirement already satisfied: pytest-cov>=2.5.1 in c:\users\mcsebedebe\appdata\roaming\python\python39\site-packages (from pycountry_convert) (4.0.0)
Requirement already satisfied: pytest-mock>=1.6.3 in c:\users\mcsebedebe\appdata\roaming\python\python39\site-packages (from pycountry_convert) (3.10.0)
Requirement already satisfied: pprintpp>=0.3.0 in c:\users\mcsebedebe\appdata\roaming\python\python39\site-packages (from pycountry_convert) (0.4.0)
Requirement already satisfied: pytest>=3.4.0 in c:\programdata\anaconda3\lib\site-packages (from pycountry_convert) (7.1.1)
Requirement already satisfied: wheel>=0.30.0 in c:\programdata\anaconda3\lib\site-packages (from pycountry_convert) (0.37.1)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from pycountry>=16.11.27.1->pycountry_convert) (61.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (21.4.0)
Requirement already satisfied: iniconfig in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.1.1)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (21.3)
Requirement already satisfied: pluggy<2.0,>=0.12 in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.0.0)
Requirement already satisfied: py>=1.8.2 in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.11.0)
Requirement already satisfied: tomli>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.2.2)
Requirement already satisfied: atomicwrites>=1.0 in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.4.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.4.4)
Requirement already satisfied: coverage[toml]>=5.2.1 in c:\users\mcsebedebe\appdata\roaming\python\python39\site-packages (from pytest-cov>=2.5.1->pycountry_convert) (7.0.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->pytest>=3.4.0->pycountry_convert) (3.0.4)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ipywidgets as widgets
from ipywidgets import HBox, VBox, Button, Layout, Label
from ipywidgets import interact, interactive, fixed, interact_manual
import pycountry_convert as pc

### Importing dataset <a class="anchor" id="dataset"></a>

In [3]:
dataset = pd.read_csv("Data/GCB2022v27_MtCO2_flat.csv")

### Exploring dataset <a class="anchor" id="Exploring"></a>

In [4]:
display(dataset)

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

There are 63104 rows in total.

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63104 entries, 0 to 63103
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             63104 non-null  object
 1   ISO 3166-1 alpha-3  61472 non-null  object
 2   Year                63104 non-null  int64
 3   Total               62904 non-null  float64
 4   Coal                21744 non-null  float64
 5   Oil                 21717 non-null  float64
 6   Gas                 21618 non-null  float64
 7   Cement              20814 non-null  float64
 8   Flaring             21550 non-null  float64
 9   Other               1620 non-null   float64
 10  Per Capita          18974 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 5.3+ MB

With this information we realize that there are countries that have Nan in the **ISO 3166-1 alpha-3** row (three-letter code), so these countries will be eliminated for this analysis.

In [6]:
print('That countries correspond to {} rows in the dataset.'.format(len(dataset[dataset['ISO 3166-1 alpha-3'].isna()])))
print('The countries are: ')
for i in dataset[dataset['ISO 3166-1 alpha-3'].isna()]['Country'].unique():
    print("- "+ i)

That countries correspond to 1632 rows in the dataset.
The countries are:
- French Equatorial Africa
- French West Africa
- Kuwaiti Oil Fires
- Leeward Islands
- Pacific Islands (Palau)
- Ryukyu Islands

In addition, we can see that the columns **Total**, **Coal**, **Oil**, **Gas**, **Cement**, **Burn**, **Other** and **Per capita** also have Nan values, but because of the context of the data, such as the year in which the data starts, it can be assumed that they correspond to 0 CO2 emissions in each column.

### Cleaning data

In [ ]:
dataset = dataset[dataset['ISO 3166-1 alpha-3'].notna()]

In [ ]:
dataset.fillna(0,inplace=True)

In [ ]:
dataset.isna().any()

In [ ]:
display(dataset)

In [ ]:
countries = list(dataset['Country'].unique())
countries

In [ ]:
fig, ax = plt.subplots(figsize=(12, 8), tight_layout=True)
ax.plot(dataset[dataset['Country']=='Chile']['Year'], dataset[dataset['Country']=='Chile']['Total'])
ax.set_title('Incorrecto, induce a confusión')
plt.show()

In [ ]:
import pycountry_convert as pc
pc.country_alpha2_to_continent_code(pc.country_alpha3_to_country_alpha2("CHL"))